{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text|linebreaksbr }}</p>
            <div class="text-right">
                <span>{{ post.author }}</span>
                <span>{{ post.text }}</span>
                <span>{{ post.created_date }}</span>
                <span>{{ post.published_date }}</span>
            </div>
        </div>
    </div>
{% endblock %}